* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* ---------BODY---------- */

.body {
  font-family: "Fira Sans", sans-serif;
  font-size: 12px;
  color: #222;
}

/* ----GLOBAL------- */

.nav,
.header {
  background-color: #eee;
}

.main__button,
.footer__button {
  background-color: #343332;
  color: #fff;
}

.header__title,
.main__title,
.footer__title {
  font-size: 53px;
  font-weight: bold;
}

/*------------NAV----------- */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #999;
  font-weight: medium;
  letter-spacing: 0.204px;
  padding: 40px 20px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style-type: none;
}

.nav__button {
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid #000;
}

.nav__meny {
  display: none;
}

#nav__listitem--black {
  color: #222;
}

/* -----------HEADER------------- */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header__title {
  margin-top: 72px;
}

.header__content {
  color: rgba(34, 34, 34, 0.8);
  font-size: 16px;
  text-align: center;
  width: 40%;
  padding: 10px;
}

.header__buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.header__button {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background-color: #222;
  font-size: 16px;
  font-weight: 500;
  min-width: 134px;
  padding: 5px 10px;
  color: #fff;
}

/* ----- ANIMATION 1 ------ */

.header__img {
  position: relative;
  animation: movingMobil;
  animation-duration: 6s;
  animation-iteration-count: 2;
  animation-timing-function: ease-in;
  animation-direction: normal;
}

@keyframes movingMobil {
  0% {
    left: -10%;
  }
  50% {
    left: 10%;
  }
  100% {
    left: -10%;
  }
}

/* -------------MAIN------------- */

.main {
  display: grid;
  grid-template-columns: repeat (4, 1fr);
  margin: auto;
  max-width: 1138px;
  gap: 30px;
}

.main__title {
  grid-column: span 4;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}

.main__card--small {
  background-color: #ebebeb;
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  padding: 20px;
  min-height: 383px;
}

.main__card--big {
  border-radius: 3px;
  grid-column: span 2;
  min-height: 349px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 30px;
  margin-bottom: 90px;
  background-color: #343332;
  color: #ffffff99;
}

.main__img {
  margin-top: auto;
  margin-bottom: auto;
}

.main__object {
  font-size: 22px;
  font-weight: bold;
}
/* ------ANIMATION 2------ */

.main__button {
  padding: 12px 30px;
  transition: background-color 1s;
  border: 1px solid #ffffff99;
  font-weight: 500;
  color: #ffffff99;
}

.main__button:hover {
  padding: 12px 30px;
  background-color: #025867;
  color: white;
}

/* ----MAIN FORTSÄTTNING---- */

.main__subtitle {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

.main__text {
  font-size: 18px;
  padding-bottom: 40px;
  font-weight: normal;
}

/* -------------FOOTER------------- */

footer {
  background-image: url("img/footer.png");
  min-height: 556px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__contact {
  background-color: #ffffff;
  min-height: 434px;
  margin-right: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.footer__title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.footer__subtitle {
  font-size: 22px;
  padding-bottom: 10px;
}

.footer__form {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.footer__button {
  min-width: 70px;
  margin: auto;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
}

.footer__input {
  padding: 5px;
  margin-bottom: 10px;
}

/* --------------MEDIA QUERIES--------------- */

@media screen and (max-width: 600px) {
  .nav__list,
  .nav__button {
    display: none;
  }

  .nav__meny {
    display: flex;
  }
  .header__title {
    font-size: 36px;
  }

  .header__content {
    width: 100%;
  }

  .header__img {
    width: 70%;
  }

  .main {
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    margin: auto;
    gap: 16px;
    max-width: 343px;
  }
  .main__card--small {
    grid-column: span 2;
    min-height: 238px;
    border-radius: 3px;
  }

  .main__card--big {
    grid-column: span 4;
    min-height: 216px;
    margin-top: 16px;
    margin-bottom: 2px;
  }
  .main__title {
    grid-column: span 4;
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
  }
  .footer__contact {
    min-width: 100%;
    margin: auto;
    margin-right: 0px;
    margin-left: 0px;
    min-height: 417px;
  }

  .footer {
    margin-top: 100px;
    justify-content: center;
    padding: 30px 15px;
  }
}
